.mainmenu {
    padding: 32px 0;
}

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__btn-icon {
    width: 24px;
    height: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 984px;
}

.menu__item {
    cursor: pointer;
    font-size: 16px;
    color: var(--Gray9);
    transition: color 200ms;
}

.menu__item:hover {
    color: var(--Gray10);
}

/* Responsive */

@media (max-width:1400px) {}

@media (max-width:1300px) {
    .menu {
        width: 950px;
    }
}

@media (max-width:1200px) {

    .menu {
        width: 800px;
    }
}

@media (max-width:1100px) {

    .menu__btn {
        transform: scale(0.9);
    }
}

@media (max-width:992px) {

    .menu {
        width: 775px;
    }

    .menu__btn {
        transform: scale(0.75);
    }

}

@media (max-width:768px) {


    .mainmenu {
        display: none;
    }


}

@media (max-width:576px) {}

@media (max-width:360px) {}