.footer {
    margin-top: 80px;
}

.top-footer {
    background-color: var(--Shade6);
}

.top-footer__wrap {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-footer__newsletter {
    width: 455px;
}

.top-footer__newsletter__title {
    color: var(--Tint1);
    font-size: 14px;
    margin-bottom: 4px;
}

.top-footer__newsletter__input-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-footer__newsletter__input {
    border: 1px solid var(--Tint1);
    border-radius: 8px;
    background: transparent;
    padding: 6px 8px;
    width: 100%;
    color: var(--Tint1);
}
.top-footer__newsletter__input::placeholder{
    color: var(--Gray6);
    font-size: 12px;
}

.top-footer__newsletter__btn {
    width: 80px;
    height: 40px;
    color: var(--Tint1);
    background-color: var(--Primary);
    border-radius: 8px;
    transition: background-color 200ms;
}
.top-footer__newsletter__btn:hover{
    background-color: var(--Shade6);
}

.top-footer__socials {}

.top-footer__socials__Title {
    color: var(--Tint1);
    font-size: 14px;
    margin-bottom: 24px;
}

.top-footer__socials__Links {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-footer__socials__Youtube,
.top-footer__socials__Pinteres,
.top-footer__socials__Facebook,
.top-footer__socials__Instagram {
    display: inline-block;
    width: 24px;
    height: 24px;
}