@import url(./Navbar.css);
@import url(./DesktopMenu.css);
@import url(./MobileNav.css);
@import url(./MobileMenu.css);

/* Header */
.top-header {
    background-color: var(--Primary);
    color: var(--Tint1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header__text {
    font-size: 14px;
}

/* Main */

.main {
    margin-top: 32px;
}

/* Hero Section */

.hero {
    background-color: var(--Tint3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 96px 48px 96px;
    position: relative;
    overflow: hidden;
}

.hero__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero__title {
    color: var(--Gray9);
    margin-bottom: 16px;
}

.hero__caption {
    color: var(--Gray9);
    font-size: 18px;
    width: 384px;
    margin-bottom: 40px;
    line-height: 180%;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.hero__btn-icon {
    width: 24px;
    height: 24px;
}


.hero__banner {
    width: 854px;
    height: 404px;
}


.hero__object1,
.hero__object2 {
    position: absolute;
    width: 241px;
    height: 381px;
    background-color: var(--Tint2);
    border-radius: 8px;
}

.hero__object1 {
    left: -154px;
    bottom: -216px;
    rotate: -8.18deg;
}

.hero__object2 {
    right: -185px;
    top: -75px;
    rotate: 12.12deg;
}

/* Categories Section */
.categories {
    margin-top: 64px;
}

.categories__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.category {
    border: 1px solid var(--Gray4);
    border-radius: 16px;
    padding: 8px;
}

.category__img {
    border-radius: 8px;
    margin-bottom: 8px;
}

.Category__title {
    text-align: center;
    font-size: 14px;
    color: var(--Gray10);
}

/* Best Sellers Section */
.best-sellers {
    margin-top: 40px;
}

.best-sellers__wrapper {
    margin-top: 32px;
    justify-content: space-between;
    gap: 21px;
}

.best-seller {
    border: 1px solid var(--Gray5);
    border-radius: 16px;
    padding: 16px;
    width: max-content;
}

.best-seller__img {
    height: 256px;
    border-radius: 8px;
}

.best-seller__title {
    color: var(--Shade1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.best-seller__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.best-seller__caption {
    color: var(--Shade1);
    font-size: 14px;
    margin-bottom: 16px;
}

.best-seller__price {
    color: var(--Shade1);
    text-align: left;
}


/* Responsive */
@media (max-width:1400px) {}

@media (max-width:1300px) {}

@media (max-width:1200px) {
    .hero__caption {
        width: 350px;
    }

    .hero__buttons a {
        width: 150px;
    }
}

@media (max-width:1100px) {
    .hero__buttons {
        flex-wrap: wrap;
        gap: 16px;
    }

    .hero__banner {
        width: 600px;
        height: 300px;
    }
}

@media (max-width:992px) {
    .hero {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 24px 16px;
    }

    .hero__content {
        width: 75%;
    }

    .hero__title {
        text-align: center;

    }

    .hero__caption {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .hero__buttons a {
        width: 250px;
    }

    .hero__banner {
        width: 80%;
        height: 400px;
    }

    .hero__object1,
    .hero__object2 {
        display: none;
    }
}

@media (max-width:768px) {
    .top-header {
        display: none;
    }

    .hero__caption {
        width: 70%;
    }

    .hero__buttons a {
        width: 180px;
    }
}

@media (max-width:576px) {
    .hero__banner {
        height: 200px;
        width: 100%;
    }

    .hero__title {
        font-size: 18px;
    }

    .hero__content {
        width: 100%;
    }

    .hero__caption {
        width: 100%;
        font-size: 12px;
    }

    .hero__buttons a {
        width: 140px;
        font-size: 10px;
    }

    .hero__btn-icon {
        width: 16px;
        height: 16px;
    }

    .categories {
        margin-top: 32px;
    }

    .section-header__icon {
        display: none;
    }

    .section-header__title {
        font-size: 16px;
    }

    .section-header__line {
        display: none;
    }

    .section-header__link {
        font-size: 12px;
    }

    .section-header__arrow-right {
        width: 16px;
        height: 16px;
    }

    .section-header__arrow-left {
        width: 16px;
        height: 16px;
    }
}

@media (max-width:360px) {
    .main {
        margin-top: 16px;
    }

    .hero {
        padding: 8px 16px;
    }

    .hero__banner {
        height: 140px;
    }

    .hero__title {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .hero__caption {
        margin-bottom: 8px;
    }

    .hero__buttons {
        padding: 0 4px;
        gap: 8px;
    }

    .hero__buttons a {
        width: 120px;
        height: 32px;
    }

    .section-header__title {
        font-size: 14px;
    }

    .section-header__link {
        font-size: 10px;
    }

    /*  */

    .categories__wrapper {
        margin-top: 16px;
        overflow-x: auto;
        gap: 12px;
    }

    .category {
        padding: 4px;
        width: 80px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 8px;
    }

    .category__img {
        height: 32px;
        margin-bottom: 4px;
        border-radius: 4px;
    }

    .Category__title {
        font-size: 10px;
    }

    .best-sellers__wrapper {
        gap: 8px;
    }

    .best-seller {
        width: 140px;
        height: 244px;
        padding: 12px;
        display: flex;
        flex-direction: column;
    }

    .best-seller__img {
        width: 96px;
        height: 96px;
        align-self: center;
    }

    .best-seller__title {
        font-size: 14px;
    }

    .best-seller__caption {
        font-size: 12px;
    }

    .best-seller__price {
        font-size: 16px;
    }
}