@import url(./Navbar.css);
@import url(./DesktopMenu.css);
@import url(./MobileNav.css);
@import url(./MobileMenu.css);

/* Header */
.top-header {
    background-color: var(--Primary);
    color: var(--Tint1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header__text {
    font-size: 14px;
}

/* Main */

.main {
    margin-top: 32px;
}

/* Hero Section */

.hero {
    background-color: var(--Tint3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 96px 48px 96px;
    position: relative;
    overflow: hidden;
}

.hero__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero__title {
    color: var(--Gray9);
    margin-bottom: 16px;
}

.hero__caption {
    color: var(--Gray9);
    font-size: 18px;
    width: 384px;
    margin-bottom: 40px;
    line-height: 180%;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.hero__btn-icon {
    width: 24px;
    height: 24px;
}


.hero__banner {
    width: 854px;
    height: 404px;
}


.hero__object1,
.hero__object2 {
    position: absolute;
    width: 241px;
    height: 381px;
    background-color: var(--Tint2);
    border-radius: 8px;
}

.hero__object1 {
    left: -154px;
    bottom: -216px;
    rotate: -8.18deg;
}

.hero__object2 {
    right: -185px;
    top: -75px;
    rotate: 12.12deg;
}

/* Categories Section */
.categories {
    margin-top: 64px;
}

.categories__title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.categories__title-wrapper::after {
    content: '';
    position: absolute;
    width: 975px;
    height: 1px;
    background-color: var(--Gray4);
    left: 15px;
}

.categories__icon {
    width: 40px;
    height: 40px;
}

.categories__title {
    color: var(--Gray10);
}

@media (max-width:1400px) {}

@media (max-width:1300px) {}

@media (max-width:1200px) {
    .hero__caption {
        width: 350px;
    }

    .hero__buttons a {
        width: 150px;
    }
}

@media (max-width:1100px) {
    .hero__buttons {
        flex-wrap: wrap;
        gap: 16px;
    }

    .hero__banner {
        width: 600px;
        height: 300px;
    }
}

@media (max-width:992px) {
    .hero {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 24px 16px;
    }

    .hero__content {
        width: 75%;
    }

    .hero__title {
        text-align: center;

    }

    .hero__caption {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .hero__buttons a {
        width: 250px;
    }

    .hero__banner {
        width: 80%;
        height: 400px;
    }

    .hero__object1,
    .hero__object2 {
        display: none;
    }
}

@media (max-width:768px) {
    .top-header {
        display: none;
    }

    .hero__caption {
        width: 70%;
    }

    .hero__buttons a {
        width: 180px;
    }
}

@media (max-width:576px) {
    .hero__banner {
        height: 200px;
    }

    .hero__title {
        font-size: 18px;
    }

    .hero__content {
        width: 100%;
    }

    .hero__caption {
        width: 100%;
        font-size: 12px;
    }

    .hero__buttons a {
        width: 140px;
        font-size: 10px;
    }

    .hero__btn-icon {
        width: 16px;
        height: 16px;
    }
}

@media (max-width:360px) {
    .hero__banner {
        height: 120px;
    }

    .hero__buttons a {
        width: 120px;
    }

}