@import url(./Navbar.css);
@import url(./DesktopMenu.css);
@import url(./MobileNav.css);
@import url(./MobileMenu.css);

.top-header {
    background-color: var(--Primary);
    color: var(--Tint1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header__text {
    font-size: 14px;
}

@media (max-width:1400px) {}

@media (max-width:1300px) {}

@media (max-width:1200px) {}

@media (max-width:1100px) {}

@media (max-width:992px) {}

@media (max-width:768px) {
    .top-header {
        display: none;
    }
}

@media (max-width:576px) {}

@media (max-width:360px) {}