.top-header {
    background-color: var(--Primary);
    color: var(--Tint1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header__text {
    font-size: 14px;
}