@import url(./Navbar.css);
@import url(./DesktopMenu.css);
@import url(./MobileNav.css);
@import url(./MobileMenu.css);

/* Header */
.top-header {
    background-color: var(--Primary);
    color: var(--Tint1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header__text {
    font-size: 14px;
}

/* Main */

.main {
    margin-top: 32px;
}

/* Hero Section */

.hero {
    background-color: var(--Tint3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 96px 48px 96px;
    position: relative;
    overflow: hidden;
}

.hero__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hero__title {
    color: var(--Gray9);
    margin-bottom: 16px;
}

.hero__caption {
    color: var(--Gray9);
    font-size: 18px;
    width: 384px;
    margin-bottom: 40px;
    line-height: 180%;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.hero__btn-icon {
    width: 24px;
    height: 24px;
}


.hero__banner {
    width: 854px;
    height: 404px;
}


.hero__object1,
.hero__object2 {
    position: absolute;
    width: 241px;
    height: 381px;
    background-color: var(--Tint2);
    border-radius: 8px;
}

.hero__object1 {
    left: -154px;
    bottom: -216px;
    rotate: -8.18deg;
}

.hero__object2 {
    right: -185px;
    top: -75px;
    rotate: 12.12deg;
}

/* Categories Section */
.categories {
    margin-top: 40px;
}

.categories__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}

.category {
    border: 1px solid var(--Gray4);
    border-radius: 16px;
    padding: 8px;
}

.category__img {
    border-radius: 8px;
    margin-bottom: 8px;
}

.Category__title {
    text-align: center;
    font-size: 14px;
    color: var(--Gray10);
}

/* Best Sellers Section */
.best-sellers {
    margin-top: 40px;
}

.best-sellers__wrapper {
    margin-top: 32px;
    justify-content: space-between;
    gap: 20px;
}

.best-seller {
    border: 1px solid var(--Gray5);
    border-radius: 16px;
    padding: 16px;
    width: max-content;
}

.best-seller__img {
    height: 256px;
    border-radius: 8px;
}

.best-seller__title {
    color: var(--Shade1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.best-seller__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.best-seller__caption {
    color: var(--Shade1);
    font-size: 14px;
    margin-bottom: 16px;
}

.best-seller__price {
    color: var(--Shade1);
    text-align: left;
}

/* Offer Section */
.offer {
    margin-top: 40px;
}

.offer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    height: 576px;
    margin-top: 32px;
}

.offer__home {
    background: url(../assets/images/offer-bg-1.png);
    grid-area: 1 / 1 / 3 / 3;
}

.offer__clothing {
    background: url(../assets/images/offer-bg-2.png);
    grid-area: 1 / 3 / 2 / 4;
}

.offer__digital {
    background: url(../assets/images/offer-bg-3.png);
    grid-area: 2 / 3 / 3 / 4;
}

.offer__office {
    background: url(../assets/images/offer-bg-4.png);
    grid-area: 1 / 4 / 2 / 5;
}

.offer__stiker {
    background: url(../assets/images/offer-bg-5.png);
    grid-area: 2 / 4 / 3 / 5;
}

.offer__home,
.offer__clothing,
.offer__digital,
.offer__office,
.offer__stiker {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.offer__gradient {
    width: 100%;
    height: 40%;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.91) 63%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.9;
    bottom: 0;
    left: 0;
}

.offer__icon {
    width: 57px;
    height: 97px;
    position: absolute;
    top: 0;
    left: 16px;
}

.offer__title {
    color: var(--Tint3);
    position: absolute;
    bottom: 32px;
    right: 24px;
}

/* Popular designs Section */
.popular-designs {
    margin-top: 40px;
}

.popular-designs__wrapper {
    margin-top: 32px;
    justify-content: space-between;
    gap: 20px;
}

.popular-design {
    border: 1px solid var(--Gray5);
    border-radius: 16px;
    padding: 16px;
    width: max-content;
}

.popular-design__img {
    height: 256px;
    border-radius: 8px;
}

.popular-design__title {
    color: var(--Shade1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.popular-design__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.popular-design__caption {
    color: var(--Shade1);
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 180%;
}

.popular-design__btn {
    width: 100%;
    height: 40px;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    border-radius: 8px;
    background: transparent;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 4px;
}

.popular-design__btn--saved {
    background-color: var(--Primary);
    color: var(--Tint1);
}

.popular-design__btn-icon {
    width: 24px;
    height: 24px;
}

/* Responsive */
@media (max-width:1400px) {
    .offer__wrapper {
        height: 535px;
    }
}

@media (max-width:1300px) {}

@media (max-width:1200px) {

    /* Hero Section */
    .hero__caption {
        width: 350px;
    }

    .hero__buttons a {
        width: 150px;
    }

    .hero__banner {
        height: 300px;
    }

    /* Offer Section */
    .offer__wrapper {
        height: 449px;
    }

    .offer__icon {
        width: 47px;
        height: 80px;
    }

    .offer__title {
        font-size: 24px;
    }
}

@media (max-width:1100px) {
    /* Hero Section */

    .hero__banner {
        width: 600px;
    }
}

@media (max-width:992px) {

    /* Hero Section */
    .hero {
        padding: 24px 16px;
    }

    .hero__content {
        width: 75%;
    }

    .hero__title {
        text-align: center;

    }

    .hero__caption {
        width: 100%;
    }

    .hero__buttons a {
        width: 140px;
        height: 40px;
        font-size: 12px;
    }

    .hero__btn-icon {
        width: 16px;
        height: 16px;
    }

    .hero__banner {
        width: 100%;
        height: 325px;
    }

    .hero__object1,
    .hero__object2 {
        display: none;
    }

    /* Categories Section */
    .categories__wrapper {
        overflow-x: auto;
        gap: 16px;
    }

    /* Best Sellers Section */
    .best-sellers__wrapper {
        gap: 16px;
    }

    .best-seller {
        width: 235px;
    }

    .best-seller__img {
        height: 225px;
    }

    /* Offer Section */
    .offer__wrapper {
        height: 396px;
    }

    /* Popular Designs Section */
    .popular-design {
        width: 235px;
    }

    .popular-design__img {
        height: 225px;
    }
}

@media (max-width:768px) {
    .top-header {
        display: none;
    }

    /* Hero Section */
    .hero {
        flex-direction: column-reverse;
    }

    .hero__caption {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .hero__buttons a {
        width: 180px;
    }

    /* Section Header */
    .section-header__arrows {
        display: flex;
    }

    /* Categories Section */
    .categories__wrapper {
        margin-top: 16px;
    }

    .category {
        flex-shrink: 0;
        width: 128px;
    }

    /* Best Sellers Section */
    .best-seller {
        padding: 12px;
        width: 170px;
        display: flex;
        flex-direction: column;
    }

    .best-seller__img {
        width: 120px;
        height: 120px;
        align-self: center;
    }

    .best-seller__title {
        font-size: 16px;
    }

    /* Offer Section */
    .offer__wrapper {
        height: 295px;
        gap: 16px;
    }

    .offer__icon {
        width: 30px;
        height: 51px;
    }

    .offer__title {
        font-size: 18px;
        bottom: 24px;
        right: 16px;
    }

    /* Popular Designs Section */
    .popular-design {
        padding: 12px;
        width: 170px;
        display: flex;
        flex-direction: column;
    }

    .popular-design__img {
        width: 120px;
        height: 120px;
        align-self: center;
    }

    .popular-design__title {
        font-size: 16px;
    }

    .popular-design__btn {
        font-size: 12px;
        height: 32px;
    }

    .popular-design__btn-icon {
        width: 16px;
        height: 16px;
    }
}

@media (max-width:576px) {

    /* Hero Section */
    .hero__banner {
        height: 250px;
        width: 100%;
    }

    .hero__title {
        font-size: 20px;
    }

    .hero__content {
        width: 100%;
        padding: 0 32px;
    }

    .hero__caption {
        width: 100%;
        font-size: 14px;
    }

    .hero__buttons {
        padding: 0 4px;
        gap: 8px;
    }

    .hero__buttons a {
        width: 144px;
        height: 48px;
    }


    /* Section Header */
    .section-header__icon {
        display: none;
    }

    .section-header__title {
        font-size: 18px;
    }

    .section-header__line {
        display: none;
    }

    .section-header__link {
        font-size: 14px;
    }

    .section-header__arrows {
        display: flex;
    }

    .section-header__arrows svg {
        width: 16px;
        height: 16px;
    }

    /* Categories Section */
    .categories {
        margin-top: 32px;
    }

    .category {
        padding: 8px;
        width: 104px;
        height: 80px;
        border-radius: 8px;
    }

    .category__img {
        height: 40px;
        margin-bottom: 4px;
        border-radius: 4px;
    }

    .Category__title {
        font-size: 14px;
    }

    /* Best Sellers Section */
    .best-sellers__wrapper {
        gap: 12px;
    }

    .best-seller {
        width: 170px;
    }

    .best-seller__img {
        width: 112px;
        height: 96px;
    }

    .popular-design__caption {
        font-size: 12px;
    }
    .best-sellers__wrapper div:nth-child(2){
        display: none;
    }
    .best-sellers__wrapper div:nth-child(7){
        display: none;
    }
    .best-sellers__wrapper div:nth-child(5){
        display: none;
    }
    .best-sellers__wrapper div:nth-child(8){
        display: none;
    }

    /* Offer Section */
    .offer__home,
    .offer__clothing,
    .offer__digital,
    .offer__office,
    .offer__stiker {
        border-radius: 8px;
    }

    .offer__wrapper {
        height: 252px;
    }

    .offer__title {
        font-size: 14px;
    }

    /* Popular Designs Section */
    .popular-design {
        width: 170px;
    }

    .popular-design__img {
        width: 120px;
        height: 120px;
    }

    .popular-design__title {
        font-size: 14px;
    }

    .popular-design__caption {
        font-size: 12px;
    }
    .popular-designs__wrapper div:nth-child(2){
        display: none;
    }
    .popular-designs__wrapper div:nth-child(3){
        display: none;
    }
    .popular-designs__wrapper div:nth-child(5){
        display: none;
    }
    .popular-designs__wrapper div:nth-child(7){
        display: none;
    }

}

@media (max-width:450px) {

    /* Hero Section */
    .hero__banner {
        height: 200px;
        width: 100%;
    }

    .hero__title {
        font-size: 18px;
    }

    .hero__content {
        width: 100%;
        padding: 0 8px;
    }

    .hero__caption {
        width: 100%;
        font-size: 12px;
    }

    .hero__buttons a {
        width: 128px;
        height: 40px;
    }

    .hero__btn-icon {
        width: 16px;
        height: 16px;
    }


    /* Section Header */
    .section-header__icon {
        display: none;
    }

    .section-header__title {
        font-size: 16px;
    }

    .section-header__line {
        display: none;
    }

    .section-header__link {
        font-size: 12px;
    }


    /* Categories Section */
    .categories {
        margin-top: 32px;
    }

    .categories__wrapper {
        margin-top: 16px;
        overflow-x: auto;
        gap: 14px;
    }

    .category {
        width: 88px;
        height: 72px;
    }

    .category__img {
        height: 32px;
    }

    .Category__title {
        font-size: 12px;
    }

    /* Best Sellers Section */
    .best-sellers__wrapper {
        gap: 12px;
    }

    .best-seller {
        width: 160px;
        padding: 12px;
        display: flex;
        flex-direction: column;
    }

    .best-seller__img {
        width: 112px;
        height: 96px;
        align-self: center;
    }

    .best-seller__title {
        font-size: 16px;
    }

    .best-seller__caption {
        font-size: 14px;
    }

    /* Offer Section */
    .offer__wrapper {
        height: 185px;
        gap: 8px;
    }

    .offer__icon {
        width: 24px;
        height: 41px;
        left: 8px;
    }

    .offer__title {
        font-size: 10px;
        bottom: 16px;
        right: 8px;
    }

    /* Popular Designs Section */
    .popular-designs__wrapper {
        gap: 12px;
    }

    .popular-design {
        width: 152px;
    }

    .popular-design__img {
        width: 96px;
        height: 96px;
    }

    .popular-design__btn {
        font-size: 10px;
    }
}

@media (max-width:360px) {
    .main {
        margin-top: 16px;
    }

    /* Hero Section */
    .hero {
        padding: 8px 16px;
    }

    .hero__banner {
        height: 140px;
    }

    .hero__content {
        padding: 0;
    }

    .hero__title {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .hero__caption {
        margin-bottom: 8px;
    }

    .hero__buttons a {
        width: 120px;
        height: 32px;
    }

    /* Section Header */
    .section-header__title {
        font-size: 14px;
    }

    .section-header__link {
        font-size: 10px;
    }

    /* Categories Section */
    .category {
        padding: 4px;
        width: 80px;
        height: 64px;
    }

    .Category__title {
        font-size: 10px;
    }

    /* Best Sellers Section */
    .best-sellers__wrapper {
        gap: 8px;
    }

    .best-seller {
        width: 140px;
        height: 244px;
    }

    .best-seller__img {
        width: 96px;
    }

    .best-seller__title {
        font-size: 14px;
    }

    .best-seller__caption {
        font-size: 12px;
    }

    .best-seller__price {
        font-size: 16px;
    }

    /* Offer SEction */
    .offer__wrapper {
        height: 140px;
    }

    .offer__icon {
        width: 16px;
        height: 27px;
    }

    .offer__title {
        bottom: 10px;
    }

    /* Popular Designs Section */
    .popular-designs__wrapper {
        gap: 8px;
    }

    .popular-design {
        width: 140px;
    }
}