.mainmenu {
    padding: 32px 0;
}

.menu__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__btn {
    background-color: var(--Primary);
    color: var(--Tint1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 4px;
    width: 185px;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 200ms;
}

.menu__btn:hover {
    background-color: var(--Shade6);
}

.menu__btn-icon {
    width: 24px;
    height: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 984px;
}

.menu__item {
    cursor: pointer;
    font-size: 16px;
    color: var(--Gray9);
    transition: color 200ms;
}

.menu__item:hover {
    color: var(--Gray10);
}