@import url(./reset.css);

/* Fonts */
@font-face {
    font-family: Vazirmatn-bold;
    src: url(../assets/fonts/Vazirmatn-Bold.ttf);
}

@font-face {
    font-family: vazirmatn-medium;
    src: url(../assets/fonts/Vazirmatn-Medium.ttf);
}

@font-face {
    font-family: vazirmatn-regular;
    src: url(../assets/fonts/Vazirmatn-Regular.ttf);
}

@font-face {
    font-family: vazirmatn-light;
    src: url(../assets/fonts/Vazirmatn-Light.ttf);
}

/* Colors */
:root {
    --Primary: #A72F3B;
    --Tint7: #B95962;
    --Tint6: #CA8289;
    --Tint5: #DCACB1;
    --Tint4: #E5C1C4;
    --Tint3: #EDD5D8;
    --Tint2: #F6EAEB;
    --Tint1: #FFFFFF;

    --Shade7: #86262F;
    --Shade6: #641C23;
    --Shade5: #431318;
    --Shade4: #320E12;
    --Shade3: #21090C;
    --Shade2: #110506;
    --Shade1: #000000;

    --Gray1: #F8F8F8;
    --Gray2: #F0F0F0;
    --Gray3: #EDEDED;
    --Gray4: #D6D6D6;
    --Gray5: #CBCBCB;
    --Gray6: #AFAFAF;
    --Gray7: #898989;
    --Gray8: #656565;
    --Gray9: #434343;
    --Gray10: #242424;

    --Error: #C30000;
    --E_Light: #ED2E2E;
    --E_BG: #FFF2F2;

    --Warning: #A9791C;
    --W_Light: #F4B740;
    --W_BG: #FFF8E1;

    --Success: #00966D;
    --S_Light: #00BA88;
    --S_BG: #F3FDFA;
}

/* Heading */
h1 {
    font-family: vazirmatn-bold;
    font-size: 44px;
}

h2 {
    font-family: vazirmatn-bold;
    font-size: 40px;
}

h3 {
    font-family: vazirmatn-bold;
    font-size: 32px;
}

h4 {
    font-family: vazirmatn-bold;
    font-size: 24px;
}

h5 {
    font-family: vazirmatn-bold;
    font-size: 20px;
}

h6 {
    font-family: vazirmatn-bold;
    font-size: 18px;
}

/* Components */
/* Buttons */
.primary-btn {
    background-color: var(--Primary);
    color: var(--Tint1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 4px;
    width: 184px;
    height: 48px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 200ms;
}

.primary-btn:hover {
    background-color: var(--Shade6);
}

.second-btn {
    width: 184px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Primary);
    border: 1px solid var(--Primary);
    border-radius: 8px;
    background: transparent;
    font-size: 14px;
}

.second-btn:hover {
    color: var(--Shade6);
    border-color: var(--Shade6);
}

/* Section Header */
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.section-header__icon {
    width: 40px;
    height: 40px;
}

.section-header__title {
    color: var(--Gray10);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-header__line {
    width: 100%;
    height: 1px;
    background-color: var(--Gray4);
}

.section-header__link {
    display: block;
    flex-shrink: 0;
    color: var(--Primary);
    font-size: 14px;
    transition: color 200ms;
}

.section-header__link:hover {
    color: var(--Shade6);
}

.section-header__arrows {
    display: none;
    align-items: center;
    gap: 4px;
}

.section-header__arrow-right {
    width: 16px;
    height: 16px;
}

.section-header__arrow-left {
    width: 16px;
    height: 16px;

}

/* App */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    font-family: vazirmatn-medium;
    border: 0;
    outline: 0;
    cursor: pointer;
}

input {
    border: 0;
    outline: 0;
    font-family: inherit;
}

img {
    width: 100%;
    height: 100%;
}

a {
    font-family: vazirmatn-medium;
    color: inherit;
    text-decoration: none;
}

body {
    font-family: vazirmatn-regular;
    color: var(--Shade1);
    background-color: var(--tint1);
    height: 3000px;
}

@media (max-width:768px) {
    * {
        cursor: none !important;
    }
}

/* Grid */


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* 

- Grid System

*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    max-width: 100%;
    flex-grow: 1;
}

.col-1 {
    width: 8.333333%;
    flex: 0 0 auto;
}

.col-2 {
    width: 16.666666%;
    flex: 0 0 auto;
}

.col-3 {
    width: 25%;
    flex: 0 0 auto;
}

.col-4 {
    width: 33.333333%;
    flex: 0 0 auto;
}

.col-5 {
    width: 41.666666%;
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-7 {
    width: 58.333333%;
    flex: 0 0 auto;
}

.col-8 {
    width: 66.666666%;
    flex: 0 0 auto;
}

.col-9 {
    width: 75%;
    flex: 0 0 auto;
}

.col-10 {
    width: 83.333333%;
    flex: 0 0 auto;
}

.col-11 {
    width: 91.666666%;
    flex: 0 0 auto;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}

/* sm */

@media (min-width: 576px) {
    .container {
        max-width: 570px;
    }

    .col-sm-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }

    .col-sm-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }

    .col-sm-3 {
        width: 25%;
        flex: 0 0 auto;
    }

    .col-sm-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }

    .col-sm-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }

    .col-sm-6 {
        width: 50%;
        flex: 0 0 auto;
    }

    .col-sm-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }

    .col-sm-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }

    .col-sm-9 {
        width: 75%;
        flex: 0 0 auto;
    }

    .col-sm-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }

    .col-sm-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }

    .col-sm-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* md */

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .col-md-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }

    .col-md-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }

    .col-md-3 {
        width: 25%;
        flex: 0 0 auto;
    }

    .col-md-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }

    .col-md-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }

    .col-md-6 {
        width: 50%;
        flex: 0 0 auto;
    }

    .col-md-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }

    .col-md-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }

    .col-md-9 {
        width: 75%;
        flex: 0 0 auto;
    }

    .col-md-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }

    .col-md-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }

    .col-md-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* lg */

@media (min-width: 992px) {
    .container {
        max-width: 990px;
    }

    .col-lg-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }

    .col-lg-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }

    .col-lg-3 {
        width: 25%;
        flex: 0 0 auto;
    }

    .col-lg-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }

    .col-lg-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }

    .col-lg-6 {
        width: 50%;
        flex: 0 0 auto;
    }

    .col-lg-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }

    .col-lg-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }

    .col-lg-9 {
        width: 75%;
        flex: 0 0 auto;
    }

    .col-lg-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }

    .col-lg-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }

    .col-lg-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* xl */

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .col-xl-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }

    .col-xl-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }

    .col-xl-3 {
        width: 25%;
        flex: 0 0 auto;
    }

    .col-xl-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }

    .col-xl-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }

    .col-xl-6 {
        width: 50%;
        flex: 0 0 auto;
    }

    .col-xl-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }

    .col-xl-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }

    .col-xl-9 {
        width: 75%;
        flex: 0 0 auto;
    }

    .col-xl-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }

    .col-xl-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }

    .col-xl-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}


/* xxl */

@media (min-width: 1400px) {
    .container {
        max-width: 1254px;
    }

    .col-xxl-1 {
        width: 8.333333%;
        flex: 0 0 auto;
    }

    .col-xxl-2 {
        width: 16.666666%;
        flex: 0 0 auto;
    }

    .col-xxl-3 {
        width: 25%;
        flex: 0 0 auto;
    }

    .col-xxl-4 {
        width: 33.333333%;
        flex: 0 0 auto;
    }

    .col-xxl-5 {
        width: 41.666666%;
        flex: 0 0 auto;
    }

    .col-xxl-6 {
        width: 50%;
        flex: 0 0 auto;
    }

    .col-xxl-7 {
        width: 58.333333%;
        flex: 0 0 auto;
    }

    .col-xxl-8 {
        width: 66.666666%;
        flex: 0 0 auto;
    }

    .col-xxl-9 {
        width: 75%;
        flex: 0 0 auto;
    }

    .col-xxl-10 {
        width: 83.333333%;
        flex: 0 0 auto;
    }

    .col-xxl-11 {
        width: 91.666666%;
        flex: 0 0 auto;
    }

    .col-xxl-12 {
        width: 100%;
        flex: 0 0 auto;
    }
}