.mobilemenu__wrapper {
    position: absolute;
    width: 316px;
    right: -316px;
    bottom: 0;
    top: 0;
    padding: 40px 20px;
    background-color: var(--Tint1);
    transition: right 500ms;
    z-index: 100;
}

.mobilemenu__wrapper--open {
    right: 0;
}

.mobilemenu {
    margin-bottom: 72px;
}

.mobilemenu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    color: var(--Gray10);
    font-size: 16px;
}

.second-mobilemenu .mobilemenu__item {
    font-size: 14px;
}

.mobilemenu__icon {
    width: 24px;
    height: 24px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    display: none;
    z-index: 90;
}

.overlay--show {
    display: block;
}

@media (max-width:370px) {
    .mobilemenu__wrapper {
        width: 270px;
    }
}