.mobilenav {
    display: none;
    padding: 12px;
}

.mobilenav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    gap: 24px;
}

.nav__toggle-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 12px;
    background-color: var(--Gray10);
}

.nav__toggle-line {
    position: relative;
}

.nav__toggle-line::before {
    position: absolute;
    top: 8px;
}

.nav__toggle-line::after {
    position: absolute;
    bottom: 8px;
}

.mobilenav__search-box {
    height: 40px;
    width: 320px;
    padding: 0 8px;
    border: 1px solid var(--Gray4);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.mobilenav__search-input {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
}

.mobilenav__placeholder-text {
    color: var(--Primary);
    position: absolute;
    font-size: 16px;
}

.mobilenav__placeholder-icon {
    width: 64px;
    height: 24px;
    position: absolute;
    right: 80px;
}

.mobilenav__search-icon {
    width: 24px;
    height: 24px;
}

.mobilenav__logo {
    width: 48px;
    height: 48px;
}

/* Responsive */
@media (max-width:768px) {
    .mobilenav {
        display: block;
    }
}

@media (max-width:576px) {
    .mobilenav{
        padding-left: 0;
        padding-right: 0;
    }
    .mobilenav__search-box {
        width: 250px;
    }
    
    .mobilenav__placeholder-text {
        font-size: 14px;
    }
    
    .mobilenav__placeholder-icon {
        width: 56px;
        right: 70px;
    }
    
    .mobilenav__logo {
        width: 40px;
        height: 40px;
    }
    
}

@media (max-width:400px) {
    .mobilenav__wrapper{
        gap: 8px;
    }
    .nav__toggle-icon{
        width: 24px;
        height: 24px;
    }
    .mobilenav__search-box {
        width: 232px;
        height: 32px;
    }
    .mobilenav__placeholder-text{
        font-size: 12px;
    }
    .mobilenav__placeholder-icon{
        right: 60px;
    }
    .mobilenav__search-icon{
        width: 16px;
        height: 16px;
    }
}
@media (max-width:360px) {
    .mobilenav__search-box{
        width: 200px;
    }
}