@media (max-width:1400px) {}

@media (max-width:1300px) {
    .menu {
        width: 950px;
    }
}

@media (max-width:1200px) {
    .nav__buttons {
        width: 220px;
    }

    .menu {
        width: 800px;
    }
}

@media (max-width:1100px) {
    .nav__logo {
        width: 170px;
        height: 45px;
    }

    .menu__btn {
        transform: scale(0.9);
    }
}

@media (max-width:992px) {
    .nav__logo {
        width: 160px;
        height: 45px;
    }

    .nav__search-box {
        width: 380px;
    }

    .menu {
        width: 775px;
    }

    .menu__btn {
        transform: scale(0.75);
    }

}

@media (max-width:768px) {
    .nav {
        display: none;
    }

    .mainmenu {
        display: none;
    }
}

@media (max-width:576px) {}

@media (max-width:360px) {}