.footer {
    margin-top: 80px;
}

.top-footer {
    background-color: var(--Shade6);
}

.top-footer__wrap {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-footer__support {
    color: var(--Tint1);
    font-size: 12px;
    font-family: vazirmatn-light;
    display: none;
}

.top-footer__support__contact {
    margin-bottom: 24px;
}

.top-footer__support__Time {}

.top-footer__newsletter {
    width: 455px;
}

.top-footer__newsletter__title {
    color: var(--Tint1);
    font-size: 14px;
    margin-bottom: 4px;
}

.top-footer__newsletter__input-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-footer__newsletter__input {
    border: 1px solid var(--Tint1);
    border-radius: 8px;
    background: transparent;
    padding: 6px 8px;
    width: 100%;
    color: var(--Tint1);
}

.top-footer__newsletter__input::placeholder {
    color: var(--Gray6);
    font-size: 12px;
}

.top-footer__newsletter__btn {
    width: 80px;
    height: 40px;
    color: var(--Tint1);
    background-color: var(--Primary);
    border-radius: 8px;
    transition: background-color 200ms;
}

.top-footer__newsletter__btn:hover {
    background-color: var(--Shade6);
}

.top-footer__socials {}

.top-footer__socials__Title {
    color: var(--Tint1);
    font-size: 14px;
    margin-bottom: 24px;
}

.top-footer__socials__Links {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-footer__socials__Youtube,
.top-footer__socials__Pinteres,
.top-footer__socials__Facebook,
.top-footer__socials__Instagram {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.top-footer__copyright {
    color: var(--Tint1);
    font-size: 10px;
    display: none;
}

/* Responsive */
@media (max-width:992px) {}

@media (max-width:768px) {
    .top-footer__newsletter {
        width: 300px;
    }
}

@media (max-width:576px) {
    .top-footer__wrap {
        height: 160px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .top-footer__support {
        display: block;
    }

    .top-footer__newsletter {
        display: none;
    }

    .top-footer__socials__Title {
        display: none;
    }

    .top-footer__socials__Links {
        gap: 16px;
    }

    .top-footer__socials__Youtube,
    .top-footer__socials__Pinteres,
    .top-footer__socials__Facebook,
    .top-footer__socials__Instagram {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .top-footer__copyright {
        display: block;
    }
}

@media (max-width:450px) {}

@media (max-width:360px) {}